@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background: rgb(144, 226, 0);
  background: radial-gradient(
    circle,
    rgb(121, 190, 0) 27%,
    rgba(1, 133, 21, 1) 100%
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
}

.submit {
  background: rgb(30, 145, 0);
  background: radial-gradient(
    circle,
    rgba(30, 145, 0, 1) 0%,
    rgba(142, 199, 101, 1) 100%
  );
  color: rgb(219, 219, 219);
  width: 5rem;
  height: 3rem;
  border-radius: 2rem;
  margin-left: 1rem;
}

.sort {
  background: rgb(30, 145, 0);
  background: radial-gradient(
    circle,
    rgba(30, 145, 0, 1) 0%,
    rgba(142, 199, 101, 1) 100%
  );
  color: rgb(219, 219, 219);
  width: 5rem;
  height: 3rem;
  border-radius: 2rem;
  margin-left: 1rem;
}

.card {
  width: 12.5rem;
  height: 17.5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
  border: 0.2rem solid rgb(51, 51, 51);
  border-radius: 0.25rem;
  display: flex;
  justify-content: space-between;
  margin: 1rem;
}

.header {
  font-size: 2rem;
  margin-left: 0.75rem;
}

.main {
  font-size: 6rem;
  display: flex;
  justify-content: center;
}

.footer {
  font-size: 2rem;
  margin-right: 0.75rem;
  display: flex;
  justify-content: start;
  transform: rotate(180deg);
}

.color1 {
  color: red;
}

.color2 {
  color: black;
}
